h1, h2 {
    color: #d3d3d3;
    font-style:normal;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

body{
    position: fixed;
}

.row{
    margin-right: 2rem;
    margin-left: 2rem;
}