.card-group {
    margin-bottom: 10px;
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    /*background-color: whitesmoke;*/
}


/* The element to apply the animation to */
h1, h2 {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
}

a{
    color:white;
    font-weight: bold;
    font-style:normal;
}

.navbar-expand-lg{
    background-color: #444544;
    border-bottom-color: black;
}

.navbar a:hover {
    color: black;
}

.navbar-collapse ul li a:hover {
    color: black;
}

.active {
    text-decoration: underline;
}

h1 {
    color: black;
    font-style:normal;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h2 {
    color: black;
    font-style:normal;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
}

body {
    background-color: whitesmoke;
}

table th, table td {
    padding: 5px;
}
