h1, h2 {
    color: #d3d3d3;
    font-style:normal;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    /*margin-top: 2rem;*/
}

.jumbotron{
    background: #303030;
}

.btn {
    background: #383838;
}