.card-group {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: center;
}

body {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.card {
    background-color: whitesmoke;
    border-color: #444544;
}

img {
    width: 90%;
    height: 85%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: #ffffff;
}

.container:hover .overlay {
    opacity: 0;
}

/* Changes color multiple times */
@keyframes example {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    100% {
        color: green;
    }
}

/* The element to apply the animation to */
h1, h2 {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
}
