a{
    color:white;
    font-weight: bold;
    font-style:normal;
}

.navbar-expand-lg{
    background-color: #444544;
    border-bottom-color: black;
}

.navbar a:hover {
    color: black;
}

.navbar-collapse ul li a:hover {
    color: black;
}

.active {
    text-decoration: underline;
}